<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="styles/main.css">
  </head>

  <body ng-app="AnvilConnectClient">
    <div class="container">
      <div class="header" ng-controller="SigninCtrl">
        <ul class="nav nav-pills pull-right">

          <li ng-show='session.userInfo'><a ng-href='#'>{{session.userInfo.name}}</a></li>
          <li ng-hide='session.userInfo'><a ng-href='#' ng-click="signin()">Signin</a></li>
          <li ng-show='session.userInfo'><a ng-href='#' ng-click="signout()">Signout</a></li>
        </ul>
        <h3 class="text-muted">Your Logo</h3>
      </div>

      <div ng-view=""></div>

      <div class="footer">
        <p><span class="glyphicon glyphicon-heart"></span> from the Anvil.io team</p>
      </div>
    </div>

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>

    <!-- AFTER LOADING ANGULAR DEPENDENCIES -->
    <script src="bower_components/sjcl/sjcl.js"></script>

    <script src="bower_components/crypto-js/components/core.js"></script>
    <script src="bower_components/crypto-js/components/sha1.js"></script>
    <script src="bower_components/crypto-js/components/sha256.js"></script>
    <script src="bower_components/crypto-js/components/x64-core.js"></script>
    <script src="bower_components/crypto-js/components/sha512.js"></script>

    <script src="bower_components/jsrsasign/ext/base64.js"></script>
    <script src="bower_components/jsrsasign/ext/jsbn.js"></script>
    <script src="bower_components/jsrsasign/ext/jsbn2.js"></script>
    <script src="bower_components/jsrsasign/ext/rsa.js"></script>
    <script src="bower_components/jsrsasign/ext/rsa2.js"></script>
    <script src="bower_components/jsrsasign/rsapem-1.1.js"></script>
    <script src="bower_components/jsrsasign/rsasign-1.2.min.js"></script>
    <script src="bower_components/jsrsasign/asn1hex-1.1.js"></script>
    <!--<script src="bower_components/jsrsasign/x509-1.1.js"></script>-->
    <script src="bower_components/jsrsasign/crypto-1.1.js"></script>
    <script src="bower_components/jsrsasign/base64x-1.1.js"></script>
    <script src="bower_components/jsrsasign/keyutil-1.0.js"></script>

    <script src="bower_components/jsjws/ext/json-sans-eval.js"></script>
    <script src="bower_components/jsjws/jws-2.0.js"></script>

    <script src="bower_components/anvil-connect/anvil-connect.angular.js"></script>
    <!-- BEFORE LOADING APP -->

    <script src="scripts/app.js"></script>
</body>
</html>
