<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/styles/main.css">
    <base href="/" />
  </head>

  <body ng-app="AnvilConnectClient">
    <div class="container">
      <div class="header" ng-controller="SigninCtrl">
        <ul class="nav nav-pills pull-right">
          <li><a href="/requires/authentication">Protected</a></li>
          <li><a href="/requires/scope">Scoped</a></li>
          <li ng-show='session.userInfo'><a ng-href='#'>{{session.userInfo.name || session.userInfo.given_name || session.userInfo.email}} </a></li>
          <li ng-hide='session.userInfo'><a ng-href='#' ng-click="signin()">Signin</a></li>
          <li ng-show='session.userInfo'><a ng-href='#' ng-click="signout()">Signout</a></li>
        </ul>
        <h3 class="text-muted"><a href="/">Your Logo</a></h3>
      </div>

      <div ng-view=""></div>

      <div class="footer">
        <p><span class="glyphicon glyphicon-heart"></span> from the Anvil.io team</p>
      </div>
    </div>

    <!-- build:js scripts/app-bundle.min.js  -->
    <!--[if lt IE 9]>
    <script src="node_modules/es5-shim/es5-shim.js"></script>
    <script src="node_modules/json3/lib/json3.min.js"></script>
    <![endif]-->


    <script src="node_modules/promiz/promiz.js"></script>
    <script src="node_modules/webcrypto-shim/webcrypto-shim.js"></script>
    <script src="node_modules/text-encoder-lite/index.js"></script>
    <script src="scripts/dev-bundle.js"></script>
    <!-- /build   -->

    <!--- Enable these for OpenIDConnect session management
    <iframe id="rp" style="visibility:hidden;display:none" src="/rp.html" frameborder="0"></iframe>
    <iframe id="op" style="visibility:hidden;display:none" src="<%=AUTH_SERVER%>/session" frameborder="0"></iframe> -->
</body>
</html>
